<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>INTERACTIVE BOT</h1>
      <app-anim-view [animPath]="'../assets/animations/chat_anim.json'" [height]="'250'" [width]="'300'" [animSpeed]="'1.0'"></app-anim-view>
      <h3 style="margin-top: 2%;margin-bottom: 2%;">BOT NAME COMES HERE</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <mat-card>
        <mat-card-content>
          <div class="chat-container">
            <app-msg-view></app-msg-view>
            <mat-progress-bar *ngIf="showLoading" mode="indeterminate" class="progress" color="warn"></mat-progress-bar>
            <mat-form-field appearance="fill">
              <mat-label>Ask me anything</mat-label>
              <input matInput placeholder="Just Type" #query (keydown.enter)="sendQuery($event)">
              <button mat-icon-button color="primary" matSuffix (click)="sendQuery(query)">
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>