.container{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    align-content: center;
}

.chat-container{
    height: 600px;
}
.mat-form-field{
    width: 100%;
    left: 0px;
    align-self:center;
    position: absolute;
    bottom: 0px;
}
.progress{
    width: 100%;
    left: 0px;
    align-self:center;
    position: absolute;
    bottom: 0px;
}