<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>MENU</mat-toolbar>
    <mat-nav-list>
      <app-anim-view [animPath]="'../assets/animations/nav_anim.json'" [height]="'200'" [width]="'200'" [animSpeed]="'0.5'"></app-anim-view>
      <a mat-list-item href="#">Home</a>
      <a mat-list-item href="#">Report Epidemic Information</a>
      <a mat-list-item href="#">Interactive Media Bot</a>
      <a mat-list-item href="#">Sign In</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Umeed</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>