<mat-list role="list">
  <mat-list-item *ngFor="let message of messages" role="listitem">
      <img *ngIf="message.sender" matListAvatar src="../../../assets/images/bot_chat_logo.jpg" alt="">
      <h3 *ngIf="message.sender" matLine style="text-align: left" color="primary"> Bot Name </h3>
      <img *ngIf="!message.sender" matListAvatar src="../../../assets/images/user_chat_logo.png" alt="">
      <h3 *ngIf="!message.sender" matLine style="text-align: left"> User Name </h3>
      <p matLine style="text-align: left">
        <span> {{message.message}} </span>
      </p> 
      <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>