mat-list{
    height: 500px;
    flex-grow: 1;
    overflow: auto;
}
mat-list-item{
    max-width: 50%;
    width: min-content;
}
.bot-msg{
    background-color:dodgerblue;
    text-align: center;
    float: left;
    margin: 2%;
    border: 2px solid;
    justify-content: flex-start;
    align-self: flex-start;
}

.user-msg{
    background-color:teal;
    text-align:center;
    align-content: flex-end;
    float: right;
    margin: 2%;
    border: 2px solid;
    justify-content:flex-end;
    align-self: flex-end;
}